<div class="container col-md-12" ng-controller="MainCtrl">
  <div class="menu">
    <span class="caret"></span>
    <span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span>
  </div>
  <div class="col-md-2"></div>
  <div class="sidebar shadow col-md-3">
    <span class="cv-title shadow">Untitled CV</span>
    <div>
      <div>
        <h3 class="title3">Name</h3>
        <p class="name-bubble" contenteditable="true" ng-model="text"></p>
      </div>
      <div class="picture-div">
        <span class="picture"></span>
      </div>
    </div>
    <div class="details-div">
      <div>
        <h3 class="title1">Address</h3>
        <p class="text-bubble" contenteditable="true" ng-model="text"></p>
      </div>
      <div>
        <h3 class="title1">Email</h3>
        <p class="text-bubble" contenteditable="true" ng-model="text"></p>
      </div>
      <div>
        <h3 class="title1">Telephone</h3>
        <p class="text-bubble" contenteditable="true" ng-model="text"></p>
      </div>
      <div>
        <h3 class="title1">Instant Messaging</h3>
        <p class="text-bubble" contenteditable="true" ng-model="text"></p>
      </div>
      <div>
        <h3 class="title1">Driver's License</h3>
        <p>
          <span class="checkbox-label">Yes</span>
          <input type="checkbox"/>
          <span class="checkbox-label">No</span>
          <input type="checkbox"/>
        </p>
      </div>
    </div>
  </div>
  <div class="content shadow col-md-5">
    <div>
      <div>
        <h3 class="title2"><span>Experience</span></h3>
      </div>
      <ul>
        <li class="e-div e1">
          <div>
            <span>From:</span>
            <strong class="d">//</strong>
            <span>to</span>
            <strong class="d">//</strong>
          </div>
          <div>
            <span>Occupied position:</span>
            <p contenteditable="true" ng-model="text"></p>
          </div>
          <div>
            <span>Employer:</span>
            <p contenteditable="true" ng-model="text"></p>
          </div>
          <div>
            <span>Location:</span>
            <p contenteditable="true" ng-model="text"></p>
          </div>
          <div>
            <span>Description:</span>
            <p contenteditable="true" ng-model="text"></p>
          </div>
        </li>
      </ul>
    </div>
    <div>
      <div>
        <h3 class="title2"><span>Education</span></h3>
      </div>
      <ul>
        <li class="e-div e1">
          <div>
            <span>From:</span>
            <strong class="d">//</strong>
            <span>to</span>
            <strong class="d">//</strong>
          </div>
          <div>
            <span>Title:</span>
            <p contenteditable="true" ng-model="text"></p>
          </div>
          <div>
            <span>Institution:</span>
            <p contenteditable="true" ng-model="text"></p>
          </div>
          <div>
            <span>Location:</span>
            <p contenteditable="true" ng-model="text"></p>
          </div>
          <div>
            <span>Description:</span>
            <p contenteditable="true" ng-model="text"></p>
          </div>
        </li>
      </ul>
    </div>
    <div>
      <div>
        <h3 class="title2"><span>Languages</span></h3>
      </div>
      <ul class="e-div">
        <li>
          <div>
            <span>Language</span>
            <p class="d" contenteditable="true" ng-model="text"></p>
            <span>Level</span>
            <p class="d" contenteditable="true" ng-model="text"></p>
          </div>
        </li>
      </ul>
    </div>
    <div>
      <div>
        <h3 class="title2"><span>Aptitudes</span></h3>
      </div>
      <ul class="e-div">
        <li>
          <div>
            <span>Skill Area</span>
            <p class="d" contenteditable="true" ng-model="text"></p>
            <span>Actual Skill</span>
            <p class="d" contenteditable="true" ng-model="text"></p>
          </div>
        </li>
      </ul>
    </div>
    <div>
      <div>
        <h3 class="title2"><span>Mentions</span></h3>
      </div>
      <div class="e-div">
        <p class="mentions" contenteditable="true" ng-model="text">
        </p>
      </div>
    </div>
  </div>
</div>
