<div class="container col-md-12">
  <div class="menu">
    <span class="caret"></span>
    <span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span>
  </div>
  <div class="col-md-2"></div>
  <div class="col-md-8 shadow doc"  ng-controller="MainCtrl">
    <div class="cv-title shadow">
      <span>Untitled CV</span>
    </div>
    <div class="sidebar col-md-4">
      <div>
        <div>
          <h3 class="title3">Name</h3>
          <h1 class="name-bubble"><span>Enter name here...<span></h1>
        </div>
        <div class="picture-div">
          <img class="picture" src={{personal.src}}></img>
          <input type="file"
                 onchange="angular.element(this).scope().imageUpload(event)"/>
        </div>
      </div>
      <div class="details-div">
        <div>
          <div class="b-bot">
            <span class="glyphicon glyphicon-home g1" aria-hidden="true"></span>
            <span class="title1">Address</span>
          </div>
          <p class="text-bubble">Enter address here...</p>
        </div>
        <div>
          <div class="b-bot">
            <span class="glyphicon glyphicon-envelope g1" aria-hidden="true"></span>
            <span class="title1">Email</span>
          </div>
          <p class="text-bubble">Enter email here...</p>
        </div>
        <div>
          <div class="b-bot">
            <span class="glyphicon glyphicon-earphone g1" aria-hidden="true"></span>
            <span class="title1">Telephone</span>
          </div>
          <p class="text-bubble">Enter telephone no. here...</p>
        </div>
        <div>
          <div class="b-bot">
            <span class="glyphicon glyphicon-globe g1" aria-hidden="true"></span>
            <span class="title1">Instant Messaging</span>
          </div>
          <p class="text-bubble">Enter messaging methods here...</p>
        </div>
        <div>
          <div class="b-bot">
            <span class="glyphicon glyphicon-road g1" aria-hidden="true"></span>
            <span class="title1">Driver's License</span>
          </div>
          <p>
            <span class="checkbox-label">Yes</span>
            <input type="checkbox"/>
            <span class="checkbox-label">No</span>
            <input type="checkbox"/>
          </p>
        </div>
      </div>
    </div>
    <div class="content col-md-8" >
      <div>
        <div>
          <h3 class="title2"><span>Work Experience<span></h3>
        </div>
        <ul>
          <li class="e-div e1"  ng-repeat="item in experience">
            <button class="glyphicon glyphicon-plus-sign add" ng-click="add('experience')"></button>
            <button class="glyphicon glyphicon-minus-sign remove" ng-click="delete('experience', $event)"></button>
            <div class="group">
              <span class="ib3">From:</span>
              <span class="d">//</span>
              <span class="ib3">to</span>
              <span class="d">//</span>
            </div>
            <div class="group">
              <span class="ib2">Occupied position:</span>
              <span class="ib">{{item.position}}</span>
            </div>
            <div class="group">
              <span class="ib2">Employer:</span>
              <span class="ib">{{item.employer}}</span>
            </div>
            <div class="group">
              <span class="ib2">Location:</span>
              <span class="ib">{{item.location}}</span>
            </div>
            <div class="group">
              <span class="ib2">Description:</span>
              <span  class="ib">{{item.description}}</span>
            </div>
          </li>
        </ul>
      </div>
      <div>
        <div>
          <h3 class="title2"><span>Education<span></h3>
        </div>
        <ul>
          <li class="e-div e1">
            <button class="glyphicon glyphicon-plus-sign add" ng-click="add('education')"></button>
            <button class="glyphicon glyphicon-minus-sign remove"></button>
            <div class="group">
              <span class="ib3">From:</span>
              <span class="d">//</span>
              <span class="ib3">to</span>
              <span class="d">//</span>
            </div>
            <div class="group">
              <span class="ib2">Title:</span>
              <span class="ib">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
            </div>
            <div class="group">
              <span class="ib2">Institution:</span>
              <span class="ib">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
            </div>
            <div class="group">
              <span class="ib2">Location:</span>
              <span class="ib">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
            </div>
            <div class="group">
              <span class="ib2">Description:</span>
              <span class="ib">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc non laoreet felis. Aliquam erat volutpat. Quisque porta sagittis nunc, eget faucibus mi fringilla id. Aliquam a risus non magna ultricies euismod.</span>
            </div>
          </li>
        </ul>
      </div>
      <div>
        <div>
          <h3 class="title2"><span>Languages<span></h3>
        </div>
        <ul class="e-div">
          <li>
            <button class="glyphicon glyphicon-plus-sign add"></button>
            <button class="glyphicon glyphicon-minus-sign remove"></button>
            <div>
              <span class="ib3">Language</span>
              <span class="d"> ...</span>
              <span class="ib3">Level</span>
              <span class="d"> ...</span>
            </div>
          </li>
        </ul>
      </div>
      <div>
        <div>
          <h3 class="title2"><span>Aptitudes<span></h3>
        </div>
        <ul class="e-div">
          <li>
            <button class="glyphicon glyphicon-plus-sign add"></button>
            <button class="glyphicon glyphicon-minus-sign remove"></button>
            <div>
              <span class="ib3">Skill Area</span>
              <span class="d"> ...</span>
              <span class="ib3">Actual Skill</span>
              <span class="d"> ...</span>
            </div>
          </li>
        </ul>
      </div>
      <div>
        <div>
          <h3 class="title2"><span>Mentions<span></h3>
        </div>
        <div class="e-div">
          <div class="mentions">
            <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc non laoreet felis. Aliquam erat volutpat. Quisque porta sagittis nunc, eget faucibus mi fringilla id. Aliquam a risus non magna ultricies euismod.</span>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
